body, html{background-image:url("Cfa44.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: "Noto Sans Display", serif;
}

header{
    
    font-style:initial;
    width:75%;
    margin:auto;
        
}


h1{ 
    color: rgb(0, 0, 0);
}

fieldset{
  border: 2px solid;  
    
}

legend{
    font-size: 20px;
    font-weight: bold;
    border: 2px solid;
}

form{
    display: flex;
    flex-direction: column;
}

header{
    display: fixed;
    align-items: left;
    flex-direction: column;
    justify-content: left;
    margin-left:10px;
}

img{
    height: 160px;
    
}

input{
    display: flex;
        
}

#Enviar{
    display: inline-block;
    width: 65px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 2px;
}
#limpar{
    display: inline-block;
    width: 65px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 2px;
}

#Enviar:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(53, 52, 52);
    transition: 0.25s;
}
#limpar:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(53, 52, 52);
    transition: 0.25s;
}