body, html{background-image:url("Cfa44.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

header{
    font-family:Arial, Helvetica, sans-serif;
    font-style:initial;
    width:75%;
    margin:auto;

}

h1{ font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

fieldset{
    background-color:rgb(255, 255, 255);
    width: 75%;
    margin: auto;
}

